@import '~foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-grid;

@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-close-button;
@include foundation-label;
@include foundation-reveal;
@include foundation-table;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

table {

    thead {

        th {

            position: sticky;
            top: 0;

            @extend thead;

            text-align: center;

            input[type="checkbox"] {
                display: none;
            }

            label {

                &:hover, &:focus {
                    cursor: pointer;
                }

            }

            &.selected {
                background-color: $success-color;
            }

        }

    }

    tbody {

        td:not(:first-child) {
            text-align: center;
        }

    }

}

.reveal-overlay {
    text-align: center;
}

.reveal {

    display: inline-table !important;
    text-align: initial;

}

span.fas[data-tip] {

    position: relative;

    &:after {

        content: '';
        border-bottom: rem-calc( 1.5 ) dotted #000000;
        position: absolute;
        bottom: rem-calc( -1.6 );
        left: 0;
        right: 0;

    }

    &:hover, &:focus {

        &:after {

            border-bottom: none;

        }

    }

}