@import '~foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-grid;

@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

table {

    thead {

        th {

            position: sticky;
            top: 0;

            @extend thead;

            text-align: center;

        }

    }

    tbody {

        td:not(:first-child) {
            text-align: center;
        }

    }

}

.reveal-overlay {
    text-align: center;
}

.reveal {

    display: inline-table !important;
    text-align: initial;

}

fieldset {

    label {

        display: inline-block;
        padding-right: rem-calc( 10 );

        img {
            width: rem-calc( 22 );
            height: auto;
        }

    }

}

span.fas[data-tip] {

    position: relative;

    &:after {

        content: '';
        border-bottom: rem-calc( 1.5 ) dotted #000000;
        position: absolute;
        bottom: rem-calc( -1.6 );
        left: 0;
        right: 0;

    }

    &:hover, &:focus {

        &:after {

            border-bottom: none;

        }

    }

}